@model CyberGuardian360.Models.Pagination<CyberGuardian360.Models.EFDBContext.CSProducts>

<h2>Cyber Security Products List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Cost</th>
                <th>Product Rating</th>
                <th>Product Category</th>
                <th>Product Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var csproduct in Model)
            {
                <tr>
                    <td>@csproduct.ProductName</td>
                    <td>$@csproduct.ProductCost</td>
                    <td>@csproduct.ProductRating</td>
                    <td>@csproduct.ProductCategoryId</td>
                    <td>@csproduct.ProductDescription</td>
                    <td>
                        <a href="@Url.Action("Edit", "Admin", new { id = csproduct.Id })" class="btn btn-outline-primary">Edit Product</a>
                        <a href="@Url.Action("Delete", "Admin", new { id = csproduct.Id })" class="btn btn-outline-danger">Delete Product</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-outline-primary">Previous</a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-outline-primary">Next</a>
    }
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("Create", "Admin")" class="btn btn-sm cust_btn">Add New Cyber Security Product</a>
</div>