@using Microsoft.AspNetCore.Identity
@using CyberGuardian360.Models.EFDBContext
@inject SignInManager<UserRegistration> SignInManager
@inject IHttpContextAccessor HttpContextAccessor
@{
    var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("IsAdmin");
    var cartCount = HttpContextAccessor.HttpContext.Session.GetString("CartItemCount");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberGuardian360</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyberGuardian360.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 bgcolorgrey">
            <div class="container-fluid">
                <div class="logo">
                    <img src="~/images/logo.png" />
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end paddingright20px">
                    <ul class="navbar-nav mr-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link bi bi-house-door" title="Home" asp-area="" asp-controller="CSProducts" asp-action="Index"></a>
                            </li>
                            if (isAdmin != null)
                            {
                                if (isAdmin == "1")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link bi bi-person-lock" title="Admin" asp-controller="Admin" asp-action="Index"></a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link bi bi-person-gear" title="Edit Profile" asp-area="" asp-controller="Profile" asp-action="EditProfile"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link bi bi-basket" title="Basket" asp-area="" asp-controller="Cart" asp-action="Index">@cartCount</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="SignOut">
                                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Sign Out
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="SignIn">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign In
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container w-100">
        <main role="main" class="pb-3 w-100">
            @RenderBody()
        </main>
        @if (TempData["toastMsg"] != null)
        {
            <div class="toast-container" style="position: absolute; top: 55px; right: 10px;">
                <div class="toast bg-success text-white fade show">
                    <div class="toast-header bg-success text-white">
                        <strong class="me-auto">Status</strong>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        @TempData["toastMsg"]
                    </div>
                </div>
            </div>
        }
        @if (TempData["toastErrMsg"] != null)
        {
            <div class="toast-container" style="position: absolute; top: 55px; right: 10px;">
                <div class="toast bg-danger text-white fade show">
                    <div class="toast-header bg-danger text-white">
                        <strong class="me-auto">Status</strong>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
                    </div>
                    <div class="toast-body">
                        @TempData["toastErrMsg"]
                    </div>
                </div>
            </div>
        }
    </div>

    <footer class="border-top footer bluewhitecolor">
        <div class="container">
            &copy; 2024 - CyberGuardian360
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/disableBackButton.js" asp-append-version="true"></script>
    <script>
        $('.toast').show();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
